*{
    margin: 0;
}

header {
    color: orange;
    font-size: 20px;
}

body{
    background: linear-gradient(185deg, rgba(239,1,1,0.695203081232493) 6%, rgba(0,1,241,0.7960434173669468) 62%, rgba(32,31,31,0.7652310924369747) 83%);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    justify-content: center;
    overflow: hidden;
}

h1 {
    font-size: 20px;
}

p {
    color: rgb(34, 141, 234);
}

main{
    border: 7px double;
    padding: 1rem;
}

#resp {
    color: red;

}

pre{
    
    color: red;
    font-size: 14px;

}

strong{
    color: white;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.btns{
    display: flex;
    justify-content: space-around;
}

.btn.sim:hover{
    cursor: pointer;
    background-color: green;
    border: 2px solid blueviolet;
}

.btns .btn{
    position: relative;
    background-color: white;
    width: 25vw;
    height: 4vh;
    border-radius: 10px;
    border: 0px;
    transition: 0.7s ease-in-out;

}

.btn.nao:hover{
    cursor: pointer;
    background-color: red;
    border: 2px solid blueviolet;
}